<!DOCTYPE html>
<html lang="en">
@* <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/core.styles.css" asp-append-version="true" />
</head> *@
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#282828" />
    <title>@ViewData["Title"] - Digital Edge Tehcnologies</title>
    <meta name="author" content="Digital Edge Technologies">
    <meta name="description" content="Digital Edge Technologies, based in Mumbai, specializes in comprehensive digital marketing solutions including social media handling, ads campaign management, website and app development, e-commerce solutions, and software development to enhance your online presence and business growth.">
    <meta name="keywords" content="digital marketing company, digital marketing company in mumbai, best digital marketing company, software development company in mumbai, website development in mumbai, software development in mumbai, social media marketing company, web development company in mumbai, digital marketing agency, social media marketing agency, social media agency, digital agency, google digital marketing, digital marketing services, digital advertising, marketing agency near me, ppc agency, social media management companies, white label marketing agency, digital marketer, online marketing business, digital marketing website, digital marketing firms, digital marketing mumbai, digital marketing advertising, app company, top app development companies, social media marketing, social media marketing agency, smma, social media agency, social media advertising, social media strategy, smma business, smma agency, social media marketing strategy, social media marketing companies, social media ads, social media marketing services, social media marketing near me, smm marketing, social media companies near me, social media marketing firms">


    <meta property="og:description" content="Digital Edge Tech, based in Mumbai, specializes in digital marketing, social media handling, website and app development, e-commerce solutions, and software development to enhance your online presence and business growth.">
    <meta property="og:image" content="https://www.digitaledgetech.in/path-to-your-image.jpg">
    <meta property="og:site_name" content="Digital Edge Tech">
    <meta property="og:title" content="Digital Edge Technologies - Your Digital Marketing Partner in Mumbai">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.digitaledgetech.in">


    <!-- TWITTER META -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON FILES -->
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <!-- Preload Key Resources -->
    <link rel="preload" href="~/css/style.css" as="style">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" as="style">
    <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" as="style">

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- Local CSS files with versioning -->
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/odometer.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/fancybox.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/swiper.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="icon" href="~/ico/favicon.png" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha384-Pn6s4M4be8fyD9xZ8VnnW72ENoEGW8DqjPjQ39GEdm4pER/lYvIz1Hlx5TY/NH1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K0G3PVJN9G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-K0G3PVJN9G');
    </script>
    @* <script src="https://www.google.com/recaptcha/api.js" async defer></script> *@
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1277931, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>
    <div class="preloader">
        <div class="inner">
            <figure class="logo"><img src="~/images/logo-light.png" alt="light logo"></figure>
            <span class="percentage"></span>
        </div>
        <!-- end inner -->
    </div>
    <!-- end preloader -->
    <div class="transition-overlay"></div>
    <!-- end transition-overlay -->
    <div class="navigation-menu">
        <div class="inner">
            <div class="side-menu">
                <ul>
                    <li><a asp-page="/">Home</a></li>
                    <li><a asp-page="/about">About</a></li>
                    <li><a asp-page="/service">Services</a></li>
                    @* <li><a asp-action="#">Solutions</a></li> *@
                    <li><a asp-page="/clientele">Clientele</a></li>
                    <li><a asp-page="/contact">Contact</a></li>
                    @* <li><a asp-action="Acedge">Acedge</a></li> *@
                    <!-- <li><a href="cases.html">Cases</a></li>
                    <li><a href="blog.html">Blog</a></li> -->
                </ul>
            </div>
            <!-- end side-menu -->
            <div class="sides">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.1405722403424!2d72.85179231538483!3d19.145323054763807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7cc8f7c53e3%3A0x62f2e318022df3f2!2sMangal%20Credit%20and%20Fincorp%20Limited!5e0!3m2!1sen!2sin!4v1619074320750!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.68780316407!2d30.252511957059642!3d50.4016990487754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1552081224273" width="600" height="450" style="border:0" allowfullscreen></iframe> -->
                </div>
                <!-- end map -->
                <figure>
                    <img src="~/images/company.jpg" alt="company">
                    <a href="#map" data-fancybox><img src="~/images/icon-map-marker.svg" alt="map icon"></a>
                </figure>
            </div>
            <!-- end sides -->
            <div class="sides">
                <div class="row">
                    <div class="col-1 address-main">
                        <span class="iconify" data-icon="akar-icons:location"></span>
                    </div>
                    <div class="col-11 address-main">
                        <p>
                            A-1701/1702, Lotus Corporate Park, Ram Mandir Rd, W.E.Highway,<br>
                            Jay Coach, Goregaon East, Mumbai 400063, India.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 address-main">
                        <span class="iconify" data-icon="clarity:email-line"></span>
                    </div>
                    <div class="col-11 address-main">
                        <a href="mailto:info@digitaledgetech.in"> info@digitaledgetech.in</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 address-main">
                        <span class="iconify" data-icon="eva:phone-call-outline"></span>
                    </div>
                    <div class="col-11 address-main">
                        <a href="tel:+91 9152889989">+91 9152889989</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sides -->
    </div>
    <!-- end inner -->
    <!-- end navigation-menu -->
    <aside class="left-side">
        <div class="logo">
            <img src="~/images/icon.png" alt="left side icon">
        </div>
        <ul>
            <li>
                <a href="https://www.facebook.com/digitaledgetech" target="_blank">FACEBOOK</a><span class="iconify"
                                                                                                     data-icon="bx:bxl-facebook-circle"></span>
            </li>
            <li>
                <a href="https://www.instagram.com/digitaledgetechnologies" target="_blank">INSTAGRAM</a><span class="iconify"
                                                                                                       data-icon="ant-design:instagram-filled"></span>
            </li>
            <li>
                <a href="https://in.linkedin.com/company/digitaledgetech" target="_blank">LINKEDIN</a><span class="iconify" data-icon="ant-design:linkedin-filled"></span>
            </li>
        </ul>
        <a href="#top" class="gotop"><img src="~/images/Arrow.png" alt="Arrow"></a>
        <!-- <a href="#top" class="gotop"><span class="iconify" data-icon="akar-icons:arrow-up"></span></a> -->
    </aside>
    <!-- end left-side -->
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="~/"><img src="~/images/logo.png" alt="nav-logo"></a>
            </div>
            <!-- end logo -->
            <!-- <div class="phone"> T: +330 294 05 11 </div> -->
            <!-- end phone -->
            <div class="main-menu">
                <ul>
                    <li><a asp-page="/">Home</a></li>
                    <li><a asp-page="/about">About</a></li>
                    <li><a asp-page="/service">Services</a></li>
                    @* <li><a asp-action="#">Solutions</a></li> *@
                    <li><a asp-page="/clientele">Clientele</a></li>
                    @* <li><a asp-action="Acedge">Acedge</a></li> *@

                    <li><a asp-page="/contact">Contact</a></li>
                </ul>
            </div>
            <!-- end main-menu -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="burger">
                    <svg id="burger-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <title>Show / Hide Navigation</title>
                        <rect class="burger-svg__base" width="50" height="50" />
                        <g class="burger-svg__bars">
                            <rect class="burger-svg__bar burger-svg__bar-1" x="14" y="18" width="22" height="2" />
                            <rect class="burger-svg__bar burger-svg__bar-2" x="14" y="24" width="22" height="2" />
                            <rect class="burger-svg__bar burger-svg__bar-3" x="14" y="30" width="22" height="2" />
                        </g>
                    </svg>
                </div>
                <!-- end burger -->
            </div>
            <!-- end hamburger-menu -->
        </nav>
        <!-- end navbar -->

    </header>
    <!-- end header -->
    @RenderBody()
    <!-- FLoating Button start -->
    <div class="float-icon">
        <a href="https://wa.me/919152889989" class="whatsapp_float" id="float" target="_blank">
            <img src="~/images/whatsapp.png" alt="whatsapp">
        </a>
    </div>
    <!-- FLoating Button Ends -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInUp">
                    <figure class="logo"> <img src="~/images/logo.png" alt="footer logo"> </figure>
                </div>
                <!-- end col-5 -->
                <div class="col-lg-4 col-md-6 wow fadeInUp">
                    <div class="inner-logo-info">
                        <span class="iconify" data-icon="akar-icons:location" id="location-icon"></span>
                        <h5>Location</h5>
                    </div>
                    <address>
                        A-1701/1702, Lotus Corporate Park,<br>
                        Ram Mandir Rd, W.E.Highway,<br>
                        Jay Coach, Goregaon East,<br>
                        Mumbai 400063, India.
                    </address>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="inner-logo-info">
                        <span class="iconify" data-icon="mdi:human-greeting-proximity" id="hello-icon"></span>
                        <h5>Say Hello</h5>
                    </div>
                    <address>
                        <div class="footer-address footer-detail">
                            <span class="iconify" data-icon="clarity:email-solid"></span>
                            <a href="mailto:info@digitaledgetech.in"> info@digitaledgetech.in</a>
                        </div>
                        <div class="footer-address footer-detail">
                            <span class="iconify" data-icon="bx:bxs-phone-call"></span>
                            <a href="tel:+91 9152889989">+91 9152889989</a>
                        </div>
                    </address>
                </div>
                <!-- end col-3 -->
                <div class="col-12 wow fadeInUp">
                    <div class="sub-footer">
                        <!-- <ul>
                          <li><a href="#">Career</a></li>
                          <li><a href="#">Term & Condutions</a></li>
                          <li><a href="#">Awwwards</a></li>
                        </ul> -->
                        <span>
                            © <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> Digital Edge Technologies - All rights Reserved
                        </span>
                    </div>
                    <!-- end sub-footer -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- end footer -->
    <audio id="hamburger-hover" src="~/audio/link.mp3" preload="auto"></audio>

    <!-- JS FILES -->
    <script src="~/js/jquery.min.js" asp-append-version="true" defer></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js" asp-append-version="true" defer></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true" defer></script>
    <script src="~/js/imagesloaded.pkgd.min.js" asp-append-version="true" defer></script>
    <script src="~/js/isotope.min.js" asp-append-version="true" defer></script>
    <script src="~/js/swiper.min.js" asp-append-version="true" defer></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true" defer></script>
    <script src='~/js/TweenMax.min.js' asp-append-version="true" defer></script>
    <script src='~/js/odometer.min.js' asp-append-version="true" defer></script>
    <script src='~/js/fancybox.min.js' asp-append-version="true" defer></script>
    <script src='~/js/wow.min.js' asp-append-version="true" defer></script>
    <script src='~/js/scripts.js' asp-append-version="true" defer></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" asp-append-version="true" defer></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js" asp-append-version="true" defer></script>
    @RenderSection("Style", required: false)

    <script>
        function newtab1() {
            window.open(
                "https://www.baskinrobbinsindia.com/", "_blank");
        }
        function newtab2() {
            window.open(
                "https://aminu.life/", "_blank");
        }
        function newtab3() {
            window.open(
                "https://www.ashland.com/", "_blank");
        }
        function newtab4() {
            window.open(
                "https://www.thebrooklyncreamery.com/", "_blank");
        }
        function newtab5() {
            window.open(
                "https://www.dishtv.in/", "_blank");
        }
        function newtab6() {
            window.open(
                "https://www.happysocks.com/gl/", "_blank");
        }
        function newtab7() {
            window.open(
                "https://www.iciciprulife.com/", "_blank");
        }
        function newtab8() {
            window.open(
                "https://shop.integriticlothing.com/", "_blank");
        }
        function newtab9() {
            window.open(
                "https://shop.killerjeans.com/", "_blank");
        }
        function newtab10() {
            window.open(
                "https://kewalkiran.com/", "_blank");
        }
        function newtab11() {
            window.open(
                "https://www.mangalfincorp.com/", "_blank");
        }
        function newtab12() {
            window.open(
                "https://www.michelsonprizeandgrants.org/", "_blank");
        }
        function newtab13() {
            window.open(
                "https://passionindulge.com/", "_blank");
        }
        // function newtab14() {
        //     window.open(
        //         "#", "_blank");
        // }
        function newtab15() {
            window.open(
                "https://www.saharastar.com/", "_blank");
        }
        function newtab16() {
            window.open(
                "https://www.satcodirect.com/", "_blank");
        }
        // function newtab17() {
        //     window.open(
        //         "", "_blank");
        // }
        function newtab18() {
            window.open(
                "https://www.voltup.in//", "_blank");
        }
        function newtab19() {
            window.open(
                "https://www.yesbank.in/", "_blank");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

