@{
    ViewData["Title"] = "About";
}
<header class="header">
    <div class="headlines">
        <!-- <div class="container"> -->
        <!-- <h1>Mumbai based<br> -->
        <h1>
            We Believe in 3'C <br>
            <span class="typewrite" data-period="2000"
                  data-type='[ "Creativity", "Caliber","Customization"]'></span>
            <span class="wrap"></span>
        </h1>
        <!-- </div> -->
        <!-- end container -->
    </div>
</header>
<!-- About Intro -->
<section class="aboutUsArea">
    <div class="innerAboutUs">
        <div class="aboutContent">
            <div class="innerAboutContent">
                <h2 class="mb-4">About Us</h2>
                <p>
                    At Digital Edge Technologies we believe, understanding and supporting your business model
                    and goals and your definition of a successful business are important to deliver 360-degree
                    solutions that are tailored
                    to your aspirations.
                </p>
                <p>
                    <a href="Clientele">Our clients</a> surely connect with the provided solutions,
                    which
                    have helped them to drive their social collaboration efforts and speed up communications, and
                    get a quick turnaround on their business queries.
                </p>
                <p>
                    Digital Edge Technologies comprise of handpicked individuals grown the best in their forte. A
                    team that is dedicated to providing the best solutions and is also updated with the last tips
                    and
                    tricks is how we line up ourselves.
                </p>

                <!-- <p class="rw-words rw-words-1">We believe in &nbsp;
                    <span>Creativity</span>
                    <span>Caliber</span>
                    <span>Customized</span>
                </p> -->
            </div>
        </div>
        <div class="aboutImg">
            <img src="~/images/about2.jpg" alt="About Us">
        </div>
    </div>
</section>

<!-- End About Intro -->
<!-- Our Principles -->

<section class="ourPrinciplesArea">
    <div class="container">
        <div class="innerOurPrinciples">
            <div class="principleHeaderTxt">
                <h2>Our Lean Principles Are: </h2>
            </div>

            <div class="principlesPoints">
                <div class="principleBox">
                    <img src="~/images/value.png" alt="Values">
                    <p>Identifying the values</p>
                </div>

                <div class="principleBox">
                    <img src="~/images/support.png" alt="Service">
                    <p>Mapping the Service</p>
                </div>

                <div class="principleBox">
                    <img src="~/images/business-plan.png" alt="Plan">
                    <p>Creating and Executing the "shared" plan</p>
                </div>

                <div class="principleBox">
                    <img src="~/images/ok.png" alt="Ok">
                    <p>Lastly, persisting for perfection</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Our Principles -->
<!-- Our Process -->

<section class="ourProcessArea">
    <div class="container">
        <div class="innerOurProcess">
            <div class="ourProcessHeader">
                <!-- <h2 class="mb-4">Our Process: </h2> -->
                <h2 class="mb-4">How we process: </h2>
                <p>
                    It's simple, we love seeing your business grow as much as you do! Our years of hardwork,
                    consistency, approvals as well as seldom rejections, led us to follow our methodology which
                    helps us execute every project both on time and on budget.
                </p>
            </div>
            <div class="ourProcessPoints">
                <div class="processBox">
                    <img src="~/images/link.png" alt="Connection">
                    <p class="title">Connection</p>
                    <p class="desc">
                        In the very first phase, our BDM connects with you and discovers your needs and
                        articulates your wants.
                    </p>
                </div>

                <div class="processBox">
                    <img src="~/images/solution.png" alt="Solution">
                    <p class="title">Come up on a solution</p>
                    <p class="desc">
                        Once the team takes the reins and collectively brainstorm, research, and
                        combines your needs - our team together comes up with a solution to create a SOLID PLAN
                    </p>
                </div>

                <div class="processBox">
                    <img src="~/images/signature.png" alt="Characterization">
                    <p class="title">Characterization</p>
                    <p class="desc">
                        After reviewing the "PLAN", the next step is to get a proposal of your dream
                        project on papers based on your business plan
                    </p>
                </div>

                <div class="processBox">
                    <img src="~/images/operation.png" alt="Implementation">
                    <p class="title">Implementation</p>
                    <p class="desc">
                        Once the plan is approved, our team starts working on creating the best
                        experience for you. This step is where the design becomes the code, the bases of your
                        business .
                    </p>
                </div>

                <div class="processBox">
                    <img src="~/images/quality-assurance.png" alt="QA">
                    <p class="title">QA</p>
                    <p class="desc">
                        We manage this crucial step alongside you and ensure you for a timely delivery.
                        In this step, we review internally to make sure nothing's been missed and that your business
                        looks great.
                    </p>
                </div>

                <div class="processBox">
                    <img src="~/images/product-lauch.png" alt="Launch">
                    <p class="title">Launch</p>
                    <p class="desc">
                        On the D-Day, Implementing your new  is just the beginning - monitoring
                        and ongoing  maintenance are parts of the process. We monitor  performance and
                        perform updates at your request.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- End Our Process -->



<div class="container">
    <div class="titles">
        <h6>OUR SERVICES</h6>
        <p class="text-yellow">We are Master of.</p>
    </div>
    <div class="col-12">

        <div class="row">
            <a asp-action="Software"  class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/Software Development.png" alt="Software Development" class="service-image">
                <h3 class="service-title fw-bold">Software Development</h3>
                
            </a>

            <a asp-action="ERP" class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/ERP-01.png" alt="Enterprise Resource Planning" class="service-image">
                <h3 class="service-title fw-bold">Enterprise Resource Planning</h3>
            </a>
            <a href="Web" class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/Web Development-01.png" alt="Web Development" class="service-image">
                <h3 class="service-title fw-bold">Web Development</h3>
            </a>
            <a asp-action="Creative" class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/Intractive & Creative Design-01-01.png" alt="Interactive and Creative Designs" class="service-image">
                <h3 class="service-title fw-bold">Interactive and Creative Designs</h3>
            </a>
            <a asp-action="Social" class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/2352644-01.png" alt="Social Media Management" class="service-image">
                <h3 class="service-title fw-bold">Social Media Management</h3>
            </a>
            <a asp-action="Mobile" class="col-12 col-sm-6 col-lg-4 service-item mb-3">
                <img src="~/images/Mobile App Development.png" alt="Mobile App Development" class="service-image">
                <h3 class="service-title fw-bold">Mobile App Development</h3>
            </a>
        </div>
    </div>
</div>
<!-- end main-services -->
<section class="work-with-us">
    <div class="container wow fadeInUp">
        <h6>WORK WITH PRO TEAM</h6>
        <div class="super-hero">
            <h2>Want to join the superheroes league?</h2>
            <p>
                Email us your C.V. with your super powers; may it be designing,
                coding, social media management, sales or marketing...
            </p>
            <h1>we welcome all.</h1>
        </div>
        <div class="inner-fadeup-logo pro-team">
            <span class="iconify" data-icon="dashicons:email-alt" id="mail-icon"></span>
            <a href="mailto:info@digitaledgetech.in">careers@digitaledgetech.in</a>
        </div>
        <small>Or</small>
        <div class="inner-fadeup-logo pro-team">
            <span class="iconify" data-icon="bx:bx-phone-call" id="call-icon"></span>
            <a href="tel:+91 9152889989">+91 9152889989</a>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end work-with-us -->
