@page
@model Digitaledgetech.Views.Home.AcedgeModel
@{
}
@section Style {
    <style>
        body * {
            animation: animate__fadeInUp;
            overflow-x:hidden;
        }

        .toggle-container {
            background: linear-gradient(to right, #cc9c28, #844389);
            border-radius: 25px;
            display: inline-block;
            padding: 5px;
        }

        .toggle-btn {
            border-radius: 20px;
            padding: 5px 15px;
            color: white !important;
            transition: 0.5s ease-in-out;
        }

        .active {
            background-color: #ffffff;
            color: #1a3b3b !important;
        }

        .card {
            background-color: #353535;
            border: none;
            padding: 10px auto;
            border-radius: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            color: #ffffff;
        }

        .card-title {
            margin-bottom: 0 !important;
        }

        .card-header {
            background-color: #000;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .highlight {
            background-color: #614666;
        }

        .text-muted {
            color: #f9f9f9 !important;
        }

        .btn-custom {
            background-color: #802388;
            border: none;
            color: white;
        }

        .feature-icon {
            color: #4caf50;
        }

        .view-features {
            color: #e57373;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .page-title h2, h1, b, sup {
            background: linear-gradient(to right, #cc9c28, #844389);
            color: transparent !important;
            background-clip: text;
        }
        .page-title sup{
            font-size:2rem;
            font-weight:600;
        }

        .container {
            max-width: 1200px;
            text-align: center;
        }

        h1 {
            font-size: 3em !important;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .subtitle {
            color: #353535;
            margin-bottom: 40px;
        }

        .benefits {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .benefit {
            background: linear-gradient(to left, rgb(138 93 26), rgb(128 0 136 / 50%));
            flex-basis: 30%;
            padding: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 10px;
        }

        .benefit:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .benefit.highlighted {
            background: linear-gradient(to left, rgb(138 93 26), rgb(128 0 136 / 50%));
            border-radius: 10px;
            color: #f7f7f7;
        }

        .icon {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .benefit-title {
            font-weight: bold;
            margin-bottom: 10px;
            color: #353535;
            letter-spacing: 0.6px;
            font-size: 1.3rem;
        }

        .benefit-description {
            font-size: 0.9em;
            color: #f7f7f7;
            margin-bottom: 20px;
        }

        .card-header h2 {
            font-size: 1.5rem;
            background: linear-gradient(to right, #cc9c28, #844389);
            color: transparent !important;
            background-clip: text;
            font-weight: 600;
        }

        .view-more {
            color: #FF6B6B;
            text-decoration: none;
        }

        .card-intro {
            background-color: #000000;
            border-radius: 10px;
            max-width: 95%;
        }

        .font-bigger {
            font-size: 2rem;
        }

        .font-bigger b {
            font-size: 3rem;
            font-weight: 600;
        }

        .plans-contact {
            padding: 0px;
            border-radius: 8px;
            margin: 0px;
            color: white;
        }

        .plans-contact:hover {
            text-decoration: none;
            background: linear-gradient(to right, #cc9c28, #844389);
            color: transparent !important;
            background-clip: text;
        }

        .gst {
            font-size: 0.8rem;
        }

        small {
            font-size: 0.8rem;
        }

        .bg-green {
            background-color: green;
            color: #fff;
            font-weight: 100;
        }

        .phone-mockup {
            width: 100%;
            padding: 0px;
            background: none;
        }

        .phone-screen {
            background-color: white;
            border-radius: 20px;
            padding: 20px;
            color: #333;
        }

        .content {
            width: 100%;
            padding: 40px;
        }

        .content ul {
            list-style: none;
            padding: 0;
        }

        .content ul li {
            font-size: 1rem;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .security {
            background: rgba(255,255,255,0.2);
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            margin-top: 20px;
        }

        .card-demo .card-body{
            padding: 8em;
            background-color: #000000;
        }
        .card-demo{
            background: linear-gradient(to top, #cc9c28, #844389);
        }
        .card-demo .card-footer{
            border-top: 1px solid #2b2b2b;
            background-color:#000;
        }

        .phone-screen img {
            width: 100%;
            height: auto;
            display: block;
        }

        .check-mark{
            background: linear-gradient(to bottom, #cc9c28, #844389);
            color: transparent !important;
            background-clip: text;
        }

        @@keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @@keyframes fadeInRight {
            from {
                opacity: 0;
                transform: translateX(200px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @@keyframes fadeInLeft {
            from {
                opacity: 0;
                transform: translateX(100px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-on-scroll {
            opacity: 0;
            transition: opacity 1s, transform 2s;
        }

        .animate-on-scroll.animated-right {
            animation: fadeInRight 1s ease-in-out forwards;
        }

        .animate-on-scroll.animated-left {
            animation: fadeInLeft 1s ease-out forwards;
        }

        .animate-on-scroll.animated-up {
            animation: fadeInUp 1s ease-out forwards;
        }

        @@media(max-width:768px) {
            h1 {
                font-size: 2em !important;
            }

            .font-bigger {
                font-size: 1.5rem;
            }

            .font-bigger b {
                font-size: 2rem;
            }

            .benefits {
                flex-direction: column;
                gap: 20px;
            }

            .container .d-flex {
                flex-direction: column;
                gap: 20px;
            }

            .card-demo .card-body {
                padding: 2em;
            }

            .phone-mockup, .content {
                width: 100%;
            }

            .content {
                padding: 20px;
            }

            .card-intro {
                max-width: 100%;
            }
        }

        @@media(max-width:540px) {
            h1 {
                font-size: 1.5em !important;
            }

            .font-bigger {
                font-size: 1.2rem;
            }

            .font-bigger b {
                font-size: 1.5rem;
            }

            .card-demo .card-body {
                padding: 1em;
            }
        }
    </style>
}
<header class="header">
    <!-- end navbar -->
    <div class="page-title">
        <div class="container">
            <h2>ACedge </h2>
        </div>
        <!-- end container -->
    </div>
    <!-- end headlines -->
</header>

<div class="row card-intro mx-auto py-3 px-2 mb-5 animate-on-scroll">
    <div class="col-12 col-md-7 text-center justify-content-center animate-on-scroll align-content-center">
        <h1>Bring the 360<sup>°</sup> Control<br>in your Business <br>Finance</h1>
        <p class="subtitle text-white-50">Transform your business with ACEDGE — A smart, scalable software solution designed to boost productivity, streamline operations, and enhance collaboration. With the video</p>
    </div>
    <div class="col-12 col-md-5 d-flex justify-content-center align-items-center animate-on-scroll">
        <img src="~/images/card-images/dash-design.png" class="image-right img-fluid m-auto" alt="ACedge Dashboard">
    </div>
</div>

<div class="container mb-5 animate-on-scroll animated-up">
    <h1>Discover the Benefits<br>in your Financial<br>Control</h1>
    <p class="subtitle">Explore the advantages that ACedge has to offer<br>in the world of personal finance</p>

    <div class="benefits animate-on-scroll">
        <div class="benefit animate-on-scroll">
            <div class="icon">📊</div>
            <div class="benefit-title">Sales / Purchase Reports</div>
            <p class="benefit-description">
                Creating Realistic and Personalized Sales and Purchase Reports with ACedge: Tailored to Your Financial Goals and Needs.
            </p>
            @*  <a href="#" class="view-more">View more</a> *@
        </div>

        <div class="benefit highlighted animate-on-scroll">
            <div class="icon">💳</div>
            <div class="benefit-title">Employee Management</div>
            <p class="benefit-description">Effectively Manage Employee Performance and Payroll with ACedge: Streamline Operations and Avoid Extra Costs.</p>
            @* <a href="#" class="view-more">View more</a> *@
        </div>

        <div class="benefit animate-on-scroll">
            <div class="icon">📁</div>
            <div class="benefit-title">Inventory Managment</div>
            <p class="benefit-description">Optimize Inventory Management with ACedge: Control Stock Levels, stock transfer and Minimize Costs</p>
            @* <a href="#" class="view-more">View more</a> *@
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex animate-on-scroll justify-content-center">
        <div class="phone-mockup col-12 col-md-6 animate-on-scroll">
            <div class="phone-screen animate-on-scroll slider">
                <img src="~/images/card-images/best-seller.png" />
                <img src="~/images/card-images/dashboards2-02.png" />
                <img src="~/images/card-images/purchase.png" />
                <img src="~/images/card-images/popular -products-06.png" />
                <img src="~/images/card-images/dashboards2-02.png" />
                <img src="~/images/card-images/Challan-03.png" />
            </div>
        </div>
        <div class="content text-left col-12 col-md-6 animate-on-scroll">
            <h2>
                Discover how <b>ACedge</b> can revolutionize your billing and inventory management
            </h2>
            <p>From creating budgets to detailed expense tracking.</p>
            <ul>
                <li><span class="check-mark">&#10004; &nbsp</span> Easy to use UI</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Inventory Track</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Debit and Credit Note</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Delivery Challan</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Customer Management</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Invoicing</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Reports</li>
                <li><span class="check-mark">&#10004; &nbsp</span> Human resource management</li>
            </ul>
        </div>
    </div>
</div>
<div class="container  my-5 animate-on-scroll">
    <h2 class="mb-4  font-bigger">Choose the <b>Perfect Plan</b> <br>that suits your Business</h2>
    <div class="text-center mb-4">
        <div class="toggle-container">
            <button class="btn toggle-btn active" id="monthlyBtn">Monthly</button>
            <button class="btn toggle-btn text-white position-relative" id="yearlyBtn">Yearly<span class="badge bg-green ms-2 position-absolute">-30%</span></button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 animate-on-scroll">
                <div class="card-header">
                    <h2 class="card-title text-center"> StartUp</h2>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">suitable for business with limited resources</p>
                    <h2 class="mb-0">₹<span class="price">9999</span><small class="text-muted">/<span class="period">month</span></small></h2>
                    <p class="text-center text-white-50 mt-0 gst">* exluding GST</p>

                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-circle feature-icon"></i> Unlimited transactions</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Basic Technical Support (Email)</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Instructional advisor</li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">

                    <a href="#" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=Ib9FADThtmSf&format=png&color=ffffff" width="30" /> Contact Sales</a>
                    <a href="tel:+91 9082678198" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=jShwZ2RCyPSO&format=png&color=FFFFFF" width="30"> Call Now</a>

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 highlight animate-on-scroll">
                <div class="card-header">
                    <h2 class="card-title text-center">MSME Business</h2>
                </div>
                <div class="card-body">

                    <p class="card-text text-muted">best choice for MSME businesses</p>
                    <h2 class="mb-0">₹<span class="price">999</span><small class="text-muted">/<span class="period">month</span></small></h2>
                    <p class="text-center text-white-50 mt-0 gst">* exluding GST</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-circle feature-icon"></i> Unlimited transactions</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Basic Technical Support (Email)</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Instructional advisor</li>
                    </ul>
                    @* <a href="#" class="view-features">View all features</a> *@
                </div>
                <div class="card-footer d-flex justify-content-between">

                    <a href="#" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=Ib9FADThtmSf&format=png&color=ffffff" width="30" /> Contact Sales</a>
                    <a href="tel:+91 9082678198" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=jShwZ2RCyPSO&format=png&color=FFFFFF" width="30"> Call Now</a>

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 animate-on-scroll animated-left">
                <div class="card-header">
                    <h2 class="card-title text-center">Stablished Business</h2>
                </div>
                <div class="card-body">

                    <p class="card-text text-muted">for large businesses with multiple franchise or store</p>
                    <h2 class="mb-0">₹<span class="price">4999</span><small class="text-muted">/<span class="period">month</span></small></h2>
                    <p class="text-center text-white-50 mt-0 gst">* exluding GST</p>

                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-circle feature-icon"></i> Unlimited transactions</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Basic Technical Support (Email)</li>
                        <li><i class="bi bi-check-circle feature-icon"></i> Instructional advisor</li>


                    </ul>

                </div>
                <div class="card-footer d-flex justify-content-between">

                    <a href="#" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=Ib9FADThtmSf&format=png&color=ffffff" width="30" /> Contact Sales</a>
                    <a href="tel:+91 9082678198" class="plans-contact"><img src="https://img.icons8.com/?size=100&id=jShwZ2RCyPSO&format=png&color=FFFFFF" width="30"> Call Now</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="card col-12 col-md-10 mx-auto my-5 text-center card-demo animate-on-scroll animated-left">
    <div class="card-body m-0">
        <h2 class="mb-3">Integrate <b>ACedge</b> with your<br>business for seamless operations</h2>
        <p class="mb-3">Get free daily financial reports and useful product insights from ACedge, and boost your sales and inventory management</p>

    <a href="#" class="btn"><b> Book A Demo →</b></a>
    @* <div class="row text-center justify-content-center">
    <a href="mailto:ACedge @Digitaledgetech.in" class="text-decoration-none mx-3"><b><i class="fa-solid fa-envelope"></i> ACedge @Digitaledgetech.in</b></a>
        <a href="tel:908267918"><b><i class="fa-solid fa-phone-volume"></i> +91 908267918</b></a>
        </div> *@
    </div>
   
    <a href="" class="align-bottom card-footer">Have Query ?<b> <i class="fa-solid fa-phone-volume"></i> Call Now</b></a>
</div>
@section Scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Slick JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const monthlyBtn = document.getElementById('monthlyBtn');
            const yearlyBtn = document.getElementById('yearlyBtn');
            const prices = document.querySelectorAll('.price');
            const periods = document.querySelectorAll('.period');
            const monthlyPrices = ['999', '1999', '3599'];
            const yearlyPrices = ['9999', '19999', '35999'];

            function displayMonthlyData() {
                setActive(monthlyBtn);
                updatePrices(monthlyPrices, 'month');
            }

            monthlyBtn.addEventListener('click', displayMonthlyData);

            yearlyBtn.addEventListener('click', () => {
                setActive(yearlyBtn);
                updatePrices(yearlyPrices, 'year');
            });

            function setActive(btn) {
                monthlyBtn.classList.remove('active');
                yearlyBtn.classList.remove('active');
                btn.classList.add('active');
            }

            function updatePrices(newPrices, period) {
                prices.forEach((price, index) => {
                    price.textContent = newPrices[index];
                });
                periods.forEach(p => {
                    p.textContent = period;
                });
            }

            // Call displayMonthlyData on page load
            displayMonthlyData();

            // Animation on scroll
            const animatedElements = document.querySelectorAll('.animate-on-scroll');

            const animateOnScroll = () => {
                animatedElements.forEach(element => {
                    const elementTop = element.getBoundingClientRect().top;
                    const windowHeight = window.innerHeight;

                    if (elementTop < windowHeight * 0.8) {
                        element.classList.add('animated-right');
                    }
                });
            };

            // Animate elements that are already visible on page load
            animateOnScroll();

            // Animate elements as they come into view while scrolling
            window.addEventListener('scroll', animateOnScroll);
        });

            $(document).ready(function () {
                $('.slider').slick({
                    autoplay: true,
                    autoplaySpeed: 1500,
                    dots: true,
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear'
                });
            });
    </script>


    <script>
        const monthlyBtn = document.getElementById('monthlyBtn');
        const yearlyBtn = document.getElementById('yearlyBtn');
        const prices = document.querySelectorAll('.price');
        const periods = document.querySelectorAll('.period');
        const monthlyPrices = ['999', '1999', '3599'];
        const yearlyPrices = ['9999', '19999', '35999'];

        // Function to display monthly data
        function displayMonthlyData() {
            setActive(monthlyBtn);
            updatePrices(monthlyPrices, 'month');
        }

        monthlyBtn.addEventListener('click', displayMonthlyData);

        yearlyBtn.addEventListener('click', () => {
            setActive(yearlyBtn);
            updatePrices(yearlyPrices, 'year');
        });

        function setActive(btn) {
            monthlyBtn.classList.remove('active');
            yearlyBtn.classList.remove('active');
            btn.classList.add('active');
        }

        function updatePrices(newPrices, period) {
            prices.forEach((price, index) => {
                price.textContent = newPrices[index];
            });
            periods.forEach(p => {
                p.textContent = period;
            });
        }

        // Call displayMonthlyData on page load
        document.addEventListener('DOMContentLoaded', displayMonthlyData);
    </script>
}
