@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header">
	<div class="headlines" id="clientele-headline">
		<!-- <div class="container"> -->
		<!-- <h1>Mumbai based<br> -->
		<h1>
			Our Priority is:<br>
			<span class="typewrite" data-period="2000"
				  data-type='[ "Campaign success","Greater ROI","Client Satisfaction"]'></span>
			<span class="wrap"></span>
		</h1>
		<!-- </div> -->
		<!-- end container -->
	</div>
</header>
<div class="container-fluid">
	<div class="clienteleClients">
		@* <img src="~/images/final logos 90 x 90/reliance.png" class="img-fluid" /> *@
		<img src="~/images/120x120_Final/74.jpg" alt="client" class="img-fluid" />
		<img src="~/images/120x120_Final/65.jpg" alt="client" class="img-fluid" />
		
		<img src="~/images/120x120_Final/6.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/8.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/10.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/12.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/13.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/15.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/17.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/18.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/19.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/20.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/21.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/22.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/23.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/2.jpg" alt="client" class="img-fluid" />
		<img src="~/images/120x120_Final/4.jpg" alt="client" class="img-fluid" />
		<img src="~/images/120x120_Final/24.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/25.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/26.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/27.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/28.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/29.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/30.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/31.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/32.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/33.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/34.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/35.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/36.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/37.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/38.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/39.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/40.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/41.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/42.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/43.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/46.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/47.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/48.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/49.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/50.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/51.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/52.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/53.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/54.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/55.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/56.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/57.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/58.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/59.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/60.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/61.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/62.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/63.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/64.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/66.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/67.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/68.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/69.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/70.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/71.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/72.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/120x120_Final/73.jpg" alt="client" class="img-fluid"/>
		<img src="~/images/Final Logos 90 x 90/drcom.png" alt="Dr Com" class="img-fluid"/>
		<img src="~/images/Final Logos 90 x 90/mbh.png" alt="Mangal Build Home" class="img-fluid"/>
		<img src="~/images/Final Logos 90 x 90/synfoshop.png" alt="Synfoshop" class="img-fluid"/>
		<img src="~/images/Final Logos 90 x 90/vetranova1.png" alt="Vetranova" class="img-fluid"/>
		<img src="/images/Final Logos 90 x 90/sovereigntrade.jpg" class="img-fluid" />
	</div>
</div>