@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Contact
<header class="header">
    <div class="headlines">
        <!-- <div class="container"> -->
        <!-- <h1>Mumbai based<br> -->
        <h1>
            You can: <br>
            <span class="typewrite" data-period="2000" data-type='[ "Call us", "Mail us","Follow us"]'></span>
            <span class="wrap"></span>
        </h1>
        <!-- </div> -->
        <!-- end container -->
    </div>
</header>
<!-- end page-header -->
<div class="contact-us-details">
    <div class="container">
        <div class="contact-us-box">
            <div class="contact-address-box">
                <h1>Address</h1>
                <div class="">
                    <div class="row">
                        <div class="row align-content-center address-main">
                            <span class="iconify mx-4" data-icon="akar-icons:location"></span>
                            <h6>Head Office</h6>

                        </div>

                        <div class="col-11  address-main">
                            <p>
                                A-1701/1702, Lotus Corporate Park, Ram Mandir Rd, W.E.Highway,
                                Jay Coach, Goregaon East, Mumbai 400063, India -
                                <a class="text-black" target="_blank" href="https://www.google.com/maps/place/Digital+Edge+Technologies/@@19.1452137,72.8510338,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b7cc906768df:0x7a32d00d26c64a10!8m2!3d19.1452087!4d72.8536087!16s%2Fg%2F11bwy_2vkt?entry=ttu&g_ep=EgoyMDI1MDIxMS4wIKXMDSoASAFQAw%3D%3D">Get Direction <i class="fa-solid fa-arrow-up-right-from-square"></i></a>

                            </p>
                        </div>
                    </div>

                </div>
                <div class=" mt-5">
                    <div class="row align-items-center">
                        <div class="row align-content-center address-main">
                            <span class="iconify mx-4" data-icon="akar-icons:location"></span>

                            <h6>Branch Office</h6>
                        </div>
                        <div class="col-11 address-main">
                            <p>
                                24, Jai Hind Cottage, oppo. Alpha College, Shahaji Raje Road, Vile Parle East, Mumbai 400057 -
                                <a class="text-black" target="_blank" href="https://www.google.com/maps/place/Digital+Edge+Technologies+-+Vile+Parle/@@19.106578,72.8450912,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7c9fdb4a69a41:0x9296a2ff2abbe21!8m2!3d19.1065729!4d72.8476661!16s%2Fg%2F11v0vm45f2?entry=ttu&g_ep=EgoyMDI1MDIxMS4wIKXMDSoASAFQAw%3D%3D">Get Direction <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="contact-number-box">
                <h1>Reach us</h1>
                <p>We always looking for talented peoples, soo let's work together</p>
                <div class="iconwithus contact-location">
                    <span class="iconify" data-icon="carbon:email"></span>
                    <a href="mailto:info@digitaledgetech.in">info@digitaledgetech.in</a>
                </div>
                <div class="iconwithus contact-location">
                    <span class="iconify" data-icon="bx:bxs-contact"></span>
                    <a href="tel:+91 9152889989">+91 9152889989</a>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact">
    <div class="container">
        <!-- <div class="contactaddresssection">
            <div class="row left-row-sontent">
                <div class="col-md-5 wow fadeInUp">
                    <h5>ADDRESS</h5>
                    <address>
                        <div class="contact-location">
                            <div class="row">
                                <div class="col-md-1 ">
                                    <span class="iconify" data-icon="akar-icons:location"></span>
                                </div>
                                <div class="col-md-11">
                                    <p>
                                        1701/1702, Lotus Corporate Park, Ram Mandir Rd, W.E.Highway,
                                        Jay Coach, Goregaon East, Mumbai 400063, India.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </address>
                </div>

                <div class="col-6 wow fadeInUp">
                    <h5>REACH US</h5>
                    <address>
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <p>We always looking for talented peoples, soo let's work together</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><span class="iconify" data-icon="carbon:email"></span></div>
                            <div class="col-md-11 contact-location"><a
                                    href="mailto:infodigitaledgetech.in">infodigitaledgetech.in</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><span class="iconify" data-icon="bx:bx-phone-call"></span></div>
                            <div class="col-md-11 contact-location">
                                <a href="tel:+91 9152889989">+91 9152889989</a>
                            </div>
                    </address>
                </div>
            </div>
        </div> -->
        <div class="login-form-main">
            <div class="col-lg-6 wow fadeInUp  pt-5 mt-md-0">
                <div class="contact-form">
                    <!-- <h5>CONTACT FORM</h5> -->
                    <form id="contact" asp-action="ProcesscontactForm" asp-controller="Home" name="contact" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" id="name" autocomplete="off" required>
                            <span>Your name</span>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <input type="email" name="email" id="email" autocomplete="off" required>
                            <span>Your e-mail</span>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <input type="text" name="phone" id="subject" autocomplete="off" required>
                            <span>Contact No</span>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <textarea name="message" id="message" autocomplete="off" required></textarea>
                            <span>Your message</span>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LcGiWUpAAAAAI4D_ikikH-7caMhuaHahxAKq5e7"></div>
                        <label asp-validation-for="Recaptcha" class="text-danger">
                            @(Model != null ? Model.errorMessage : "")
                        </label>
                        <!-- end form-group -->
                        <div class="form-group">
                            <button id="submit" type="submit" name="submit">
                                <strong>Submit Now<b></b> <i></i></strong>
                            </button>
                        </div>
                        <!-- end form-group -->
                    </form>
                    <!-- end form -->
                    <!-- end form-group -->
                </div>
                <!-- end contat-form -->
            </div>
            @* <section class="page-header">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1884.5695856173613!2d72.85365209999999!3d19.145384399999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7cc906768df%3A0x7a32d00d26c64a10!2sDigital%20Edge%20Technologies!5e0!3m2!1sen!2sin!4v1639462582205!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section> *@
        </div>
    </div>
</section>
<!-- end contact -->