@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header">
    <!-- end navbar -->
    <div class="page-title">
        <div class="container">
            <h2>Interactive and Creative Designs</h2>
        </div>
        <!-- end container -->
    </div>

    <!-- end headlines -->
</header>
<!-- end header -->
<!-- <section class="creative-img">
    <div class="creative-comp-logo">
        <img src="/images/Responsive.png" alt="Laptop-img" class="img-fluid">
    </div>
    <div class="creative-bg-img">
        <img src="/images/BG.png" alt="bg-img" class="img-fluid">
    </div>
</section> -->
<section class="creative-img">
    <div class="creative-comp-logo">
        <img src="/images/Responsive.png" alt="Laptop-img" class="img-fluid">
    </div>
    <div class="creative-bg-img">
        <img src="/images/Design_01.png" alt="bg-img" class="img-fluid">
    </div>
</section>

<section class="creative-maininfo">
    <div class="creative-content">
        <div class="container">
            <div class="creative-inner-info">
                <a href="#" class="btn-shine" target="_blank">
                    From Visualization to interactive as well as
                    innovative
                    design, we provide complete services to our consumers.
                </a>
                <p>
                    Highly innovative ideas & more creative designs that will give a competitive edge within the
                    market,
                    irrespective of the business area. A good and unique design provide adaptive, intuitive and
                    engaging
                    solutions which reflects the business
                    on, on and off digital platform.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <section class="include-title">
            <h4>This includes:</h4>
        </section>
        <div class="main-include">
            <div class="inner-include-info">
                <img src="/images/companylogo.png" alt="">
                <h4>Company Logos</h4>
            </div>
            <div class="inner-include-info">
                <img src="/images/letterhead.png" alt="">
                <h4>Letter Heads</h4>
            </div>
            <div class="inner-include-info">
                <img src="/images/portfolio (1).png" alt="">
                <h4>Portfolios</h4>
            </div>
            <div class="inner-include-info">
                <img src="/images/brochure.png" alt="">
                <h4>Brochures</h4>
            </div>
            <div class="inner-include-info">
                <img src="/images/businesscards.png" alt="">
                <h4>Business cards</h4>
            </div>
        </div>
    </div> -->
</section>
