@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header">
    <!-- end navbar -->
    <div class="page-title">
        <div class="container">
            <h2>ERP</h2>
        </div>
        <!-- end container -->
    </div>
    <!-- end headlines -->
</header>
<section class="page-header">
    <div class="header-img">
        <div class="imgHeadBox">
            <img src="~/images/ERP_New.png" alt="laptop" class="img-fluid object">
        </div>

    </div>
    <!-- <img src="images/blog03.jpg" alt="Image"> -->
    <div class="header-inner-info">
        <p>
            Utilize your staff's skills, hardware and software to increase productivity and simplify your daily
            processes is what is ERP. We know it's difficult to keep a tap on everything and that is Digital Edge
            technologies is here. Providing ERP solutions
            to facilitate information flow between all business functions inside the organization like finance,
            sales, human resources etc.
        </p>
    </div>
</section>

<section class="header-info">
    <div class="thoughts">
        <p id="para1">
            "A company may employ the most sophisticated software in the world, but unless the information is
            managed timely, accurate, and complete, the system, serves little purpose"
        </p>
        <p id="para2">
            - wayne L. Staley
        </p>
    </div>
</section>

<div class="header-services">
    <div class="header-service-title">
        <!-- <h5>Our ERP Software solutions include:</h5> -->
    </div>
    <div class="main-header">
        <div class="main-head-column column-1">
            <div class="head-img">
                <img src="~/images/Cloud computing.png" alt="" class="img-fluid">
            </div>

            <div class="head-content">
                <h3>Cloud computing</h3>
                <p>
                    This is a new-age technology of using a network of remote servers hosted on the Internet to store
                    , manage and process data, rather than a local server or a personal computer.
                </p>
            </div>
        </div>
        <div class="main-head-column column-2">
            <div class="head-img">
                <img src="~/images/database.png" alt="" class="img-fluid">
            </div>

            <div class="head-content">
                <h3>Centralized database</h3>
                <p>
                    This is a new-age technology of using a network of remote servers hosted on the Internet to
                    store, manage and process data, rather than a local server or a personal computer.
                </p>
            </div>
        </div>
        <div class="main-head-column column-3">
            <div class="head-img">
                <img src="~/images/analysis.png" alt="" class="img-fluid">
            </div>
            <div class="head-content">
                <h3>Analysis</h3>
                <p>Analytical Tools are used to analyze the existing progress of the system.</p>
            </div>
        </div>
        <div class="main-head-column column-4">
            <div class="head-img">
                <img src="~/images/integrated system.png" alt="" class="img-fluid">
            </div>

            <div class="head-content">
                <h3>Integrated system</h3>
                <p>
                    System integration is the process of bringing together the component subsystems into one system
                    and ensuring that the subsystems function together as a system. At Digital Edge Technologies, we
                    link together different computing systems
                    and software applications physically or functionally, to act as a coordinated whole.
                </p>
            </div>
        </div>
        <div class="main-head-column column-5">
            <div class="head-img">
                <img src="~/images/Forecasting.png" alt="" class="img-fluid">
            </div>
            <div class="head-content">
                <h3>Forecasting</h3>
                <p>
                    On the basis of the analytical report and forecasting combined, company decides the necessary
                    steps to be taken.
                </p>
            </div>
        </div>
        <div class="main-head-column column-6">
            <div class="head-img">
                <img src="~/images/Decision Making.png" alt="" class="img-fluid">
            </div>
            <div class="head-content">
                <h3>Decision Making</h3>
                <p>On the basis of analytical reports, future progress of the system is predicted.</p>
            </div>
        </div>
    </div>
</div>
