@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewData["Title"] = "Hardware";
}
<style>
	.contact-banner {
		background: linear-gradient(135deg, #ffb400, #802288);
		color: white;
		text-align: center;
		padding: 50px 30px;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
	}

		.contact-banner h2 {
			font-weight: bold;
		}

		.contact-banner p {
			opacity: 0.9;
			margin-bottom: 20px;
		}

	.contact-button {
		background: white;
		color: #3b1d85;
		border-radius: 30px;
		padding: 10px 20px;
		font-weight: bold;
		border: none;
		transition: 0.3s;
	}

		.contact-button:hover {
			background: #f5f5f5;
		}

	/* Floating Elements */
	.circle {
		position: absolute;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 50%;
		filter: blur(8px);
	}

		.circle.one {
			width: 80px;
			height: 80px;
			top: 20px;
			left: 30px;
		}

		.circle.two {
			width: 50px;
			height: 50px;
			bottom: 30px;
			right: 40px;
		}

		.circle.three {
			width: 30px;
			height: 30px;
			top: 50%;
			left: 50%;
		}
</style>
<header class="header" data-aos="fade-down">
	<div class="headlines">
		<h1>
			Delivering:<br>
			<span class="typewrite" data-period="2000"
				  data-type='[ "Transform Your Business with High-Performance Hardware"]'></span>
			<span class="wrap"></span>
		</h1>
	</div>
</header>
<section class="aboutUsArea">
	<div class="innerAboutUs">
		<div class="aboutContent py-5">
			<div class="innerAboutContent">
				<h2 class="mb-4">High-Quality Pre-Owned Refurbished Laptops, Desktops, iMacs, Servers, Screens, and Accessories.</h2>
				<p>
					Discover premium refurbished technology at unbeatable prices! Our range includes laptops, desktops, iMacs, servers, screens, and accessories, offering exceptional value without compromising on performance or quality.

				</p>
				
			</div>
		</div>
		<div class="aboutImg ">
			@* <img src="~/images/Refurbished products.png" alt="About Us"> *@
			<div class="row px-3 py-5 bg-yellow">
				<div class="col-md-4" data-aos="zoom-in">
					<div class="card product-card p-3 shadow-none">
						<img src="~/images/Laptop.png" class="card-img-top" alt="Laptop">
						<div class="card-body text-center">
							<h5 class="card-title">Laptops</h5>
							<p class="card-text">Sleek, portable, and high-performance for every need.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
					<div class="card product-card p-3 shadow-none">
						<img src="~/images/Desktop.png" class="card-img-top" alt="Desktop">
						<div class="card-body text-center">
							<h5 class="card-title">Desktops</h5>
							<p class="card-text">From budget-friendly options to high-end setups.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
					<div class="card product-card p-3 shadow-none">
						<img src="~/images/Server.png" class="card-img-top" alt="Server">
						<div class="card-body text-center">
							<h5 class="card-title">Servers</h5>
							<p class="card-text">Reliable and powerful for all IT infrastructure needs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@* <section class="page-header" data-aos="fade-up">
	<div class="post-sticky wow fadeIn">
		<figure class="post-image"><img src="~/images/Service Banner.jpg" alt="Image" loading="lazy"></figure>
	</div>
</section> *@
@* <section class="hero-section" data-aos="fade-up">
	<div class="container">
		<h2 class="fw-bold" data-aos="fade-right">
			High-Quality Pre-Owned Refurbished Laptops, Desktops, iMacs, Servers, Screens, and Accessories.
		</h2>
		<p class="lead" data-aos="fade-left">
			Discover premium refurbished technology at unbeatable prices! Our range includes laptops, desktops, iMacs, servers, screens, and accessories, offering exceptional value without compromising on performance or quality.
		</p>
	</div>
</section> *@
<section class="my-5">
	<div class="container mt-5">
		<div class="innerOurProcess">
			<div class="ourProcessHeader">
				<h2 class="mb-4">Why Choose Our Refurbished Products? </h2>
				@* <p>
					It's simple, we love seeing your business grow as much as you do! Our years of hardwork,
					consistency, approvals as well as seldom rejections, led us to follow our methodology which
					helps us execute every project both on time and on budget.
				</p> *@
			</div>
			<div class="ourProcessPoints">
				<div class="processBox" data-aos="fade-up">
					<img src="~/images/aq.png"/><br/>
					<strong>Affordable Quality</strong>
					<P>High-end devices at a fraction of the price. Ideal for individuals, businesses, and startups.</P>
				</div>

				<div class="processBox" data-aos="fade-up">
					<img src="~/images/ttac.png" /><br />

					<strong>Thoroughly Tested and Certified</strong>
					<P>Each item is rigorously inspected, cleaned, and tested to meet industry standards.</P>
				</div>

				<div class="processBox" data-aos="fade-up">
					<img src="~/images/ss.png" /><br />

					<strong>Sustainably Sourced</strong>
					<P>Reduce e-waste and contribute to a sustainable future by choosing refurbished.</P>
				</div>

				<div class="processBox" data-aos="fade-up">
					<img src="~/images/ws.png" /><br />

					<strong>Warranty and Support</strong>
					<P>Enjoy peace of mind with our warranty and dedicated support team.</P>
				</div>
			</div>
		</div>
	</div>
</section>

@* <section id="" class="container py-5" data-aos="fade-up">
	<div class="">
		<h2 class="fw-bold">
			Why Choose Our Refurbished Products?
		</h2>
		<p class="text-yellow">Selling best quality hardwares..</p>
	</div>
	<ul data-aos="fade-up">
		<li data-aos="fade-up"><strong>Affordable Quality</strong>: High-end devices at a fraction of the price. Ideal for individuals, businesses, and startups.</li>
		<li data-aos="fade-up"><strong>Thoroughly Tested and Certified</strong>: Each item is rigorously inspected, cleaned, and tested to meet industry standards.</li>
		<li data-aos="fade-up"><strong>Sustainably Sourced</strong>: Reduce e-waste and contribute to a sustainable future by choosing refurbished.</li>
		<li data-aos="fade-up"><strong>Warranty and Support</strong>: Enjoy peace of mind with our warranty and dedicated support team.</li>
	</ul>
</section> *@
@* <section id="products" class="container py-5" data-aos="fade-up">
	<div class="">
		<h2 class="fw-bold">Product Range</h2>
		<p class="text-yellow">Selling Wide Range Of Hardwares..</p>
	</div>
	<div class="row">
		<div class="col-md-4" data-aos="zoom-in">
			<div class="card product-card p-3 shadow-sm">
				<img src="~/images/Laptop.png" class="card-img-top" alt="Laptop">
				<div class="card-body text-center">
					<h5 class="card-title">Laptops</h5>
					<p class="card-text">Sleek, portable, and high-performance for every need.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
			<div class="card product-card p-3 shadow-sm">
				<img src="~/images/Desktop.png" class="card-img-top" alt="Desktop">
				<div class="card-body text-center">
					<h5 class="card-title">Desktops</h5>
					<p class="card-text">From budget-friendly options to high-end setups.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
			<div class="card product-card p-3 shadow-sm">
				<img src="~/images/Server.png" class="card-img-top" alt="Server">
				<div class="card-body text-center">
					<h5 class="card-title">Servers</h5>
					<p class="card-text">Reliable and powerful for all IT infrastructure needs.</p>
				</div>
			</div>
		</div>
	</div>
</section> *@

<div class="container d-flex justify-content-center align-items-center my-4" data-aos="fade-up">
	<div class="col-md-8">
		<div class="contact-banner">
			<h2 data-aos="fade-up">Upgrade Your Tech with Us</h2>
			<p data-aos="fade-up">Get the best deals on high-quality refurbished PCs, laptops, and servers. Affordable, reliable, and performance-driven.</p>
			<div class="d-flex justify-content-between bg-light p-2 rounded" data-aos="fade-up">
				<div>
					<strong class="text-black mr-2"><i class="fas fa-envelope mr-2 mr-2"></i>Email:</strong>
					<a class="text-black" href="mailto:info@digitaledgetech.in">info@digitaledgetech.in</a>
				</div>
				<div>
					<strong class="text-black mr-2"><i class="fas fa-phone mr-2"></i>Call:</strong>
					<a class="text-black" href="tel:+919152889989">+91 9152889989</a>
				</div>
			</div>
			<div class="circle one"></div>
			<div class="circle two"></div>
			<div class="circle three"></div>
		</div>
	</div>
</div>
