@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    @* <link href="~/css/style.css" rel="stylesheet" /> *@

    <link href="~/css/Social.css" rel="stylesheet" />
</head>

@* <header class="header">
    <div class="page-title">
        <div class="container">
            <h2>Social Media Management</h2>
        </div>
    </div>
</header> *@

@* <section class="social-main">
    <div class="socialheader">
        <div class="social-img">
            <div class="social-icon">
                <span class="iconify" data-icon="bx:bxl-facebook"></span>
                <span class="iconify" data-icon="bx:bxl-instagram"></span>
                <span class="iconify" data-icon="bx:bxl-twitter"></span>
                <span class="iconify" data-icon="bi:snapchat"></span>
                <span class="iconify" data-icon="fa-brands:whatsapp"></span>
                <span class="iconify" data-icon="fa-brands:facebook-messenger"></span>
                <span class="iconify" data-icon="cib:wechat"></span>
                <span class="iconify" data-icon="cib:reddit"></span>
                <span class="iconify" data-icon="fa-brands:stack-overflow"></span>
                <span class="iconify" data-icon="fa-brands:yahoo"></span>
            </div>
            <img src="/images/social.jpg" alt="SOcial-Media" class="img-fluid">
        </div>
        <div class="social-content">
            <div class="right-social-icon">
                <span class="iconify" data-icon="ant-design:google-outlined"></span>
                <span class="iconify" data-icon="cib:youtube"></span>
                <span class="iconify" data-icon="brandico:linkedin-rect"></span>
                <span class="iconify" data-icon="fontisto:telegram"></span>
                <span class="iconify" data-icon="ic:outline-quora"></span>
                <span class="iconify" data-icon="cib:pinterest"></span>
                <span class="iconify" data-icon="cib:skype"></span>
            </div>
            <p>
                We all know Social Media Marketing is a touchpoint for shoppers in the B2C industry.<br> In <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                </span>, it
                is important to be active on social media and see the huge impact it has on your Target audience.
                Major Companies and our clients use
                Social Meida to impact people with their revolutionary products and services
            </p>
        </div>
    </div>
</section> *@
<!-- end page-header -->
@* <section class="case-detail">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-8">
            </div>

            <div class="col-12">
                <br>
                <br>
                <div id="generic_price_table">
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="generic_content clearfix">
                                        <div class="generic_head_price clearfix">
                                            <div class="generic_head_content clearfix">
                                                <div class="head_bg"></div>
                                                <div class="head">
                                                    <span>Basic</span>
                                                </div>

                                            </div>
                                            <div class="generic_price_tag clearfix">
                                                <p>
                                                    Our basic package is ideal for startups and for businesses that
                                                    need some help getting started using social media for their
                                                    business to build awareness and trust
                                                </p>
                                            </div>
                                        </div>
                                        <div class="generic_feature_list">
                                            <ul>
                                                <li><span>What you get - 15 posts/month</span></li>
                                                <li>
                                                    <span>
                                                        Postings across platforms <br>(Facebook, Instagram &
                                                        LinkedIn)
                                                    </span>
                                                </li>
                                                <li><span>2 additional covers for social media </span></li>
                                                <li><span>Monthly strategy session</span> </li>
                                                <li><span>Monthly reporting </span> </li>
                                                <li><span>Paid campaigns are additional</span> </li>
                                            </ul>
                                        </div>
                                        <div class="generic_price_btn clearfix">
                                            <a class="" href="contact.php">Interested</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                    <div class="generic_content active clearfix">

                                        <div class="generic_head_price clearfix">

                                            <div class="generic_head_content clearfix">

                                                <div class="head_bg"></div>
                                                <div class="head">
                                                    <span>Standard</span>
                                                </div>

                                            </div>
                                            <div class="generic_price_tag clearfix">
                                                <p>
                                                    Our standard package is perfect for businesses that want to
                                                    outsource most if not all of the social media marketing and are
                                                    ready to take their business to the next level
                                                </p>
                                            </div>

                                        </div>
                                        <div class="generic_feature_list">
                                            <ul>
                                                <li>
                                                    <span>
                                                        What you get - 18 posts per month <br> *Story size of
                                                        creative post provided
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
                                                        Postings across platforms <br> (Facebook, Instagram,
                                                        LinkedIn & Twitter)
                                                    </span>
                                                </li>
                                                <li><span>2 additional covers for social media </span></li>
                                                <li><span>2 additional covers for website </span></li>
                                                <li><span>ROI focused marketing strategy</span></li>
                                                <li><span>Monthly strategy session </span></li>
                                                <li><span>Monthly reporting </span></li>
                                                <li><span>Paid campaigns are additional</span></li>
                                            </ul>
                                        </div>
                                        <div class="generic_price_btn clearfix">
                                            <a class="" href="contact.php">Interested</a>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="generic_content clearfix">

                                        <div class="generic_head_price clearfix">

                                            <div class="generic_head_content clearfix">

                                                <div class="head_bg"></div>
                                                <div class="head">
                                                    <span>GOLD</span>
                                                </div>

                                            </div>
                                            <div class="generic_price_tag clearfix">
                                                <p>
                                                    Our gold package is for businesses that are added to accelerate
                                                    the
                                                    growth of their business and need to amp up the volume and
                                                    transform
                                                    their business
                                                </p>
                                            </div>

                                        </div>
                                        <div class="generic_feature_list">
                                            <ul>
                                                <li>
                                                    <span>
                                                        What you get - 21 posts per month <br>*Story size of
                                                        creative post provided
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
                                                        Posting across more than 4 platforms <br> (Facebook,
                                                        Instagram, Twitter, LinkedIn, Pinterest, Google My business,
                                                        etc)
                                                    </span>
                                                </li>
                                                <li><span>3 additional covers for social media <br> (2 static and 1 GIF) </span></li>
                                                <li><span>3 additional covers for website <br> (2 static and 1 GIF)</span></li>
                                                <li><span>Online Reputation Management </span></li>
                                                <li><span>ROI focused marketing strategy</span></li>
                                                <li><span>2 Monthly strategic sessions </span></li>
                                                <li><span>2 Monthly reporting</span></li>
                                                <li><span>Paid campaigns are additional</span></li>
                                            </ul>
                                        </div>
                                        <div class="generic_price_btn clearfix">
                                            <a class="" href="contact.php">Interested</a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </section>
                </div>

            </div>

        </div>
    </div>
</section> *@

<section id="home" class="hero">
    <div class="container">
        <div class="row align-items-center justify-content-between py-5">
            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
                <h1 class="display-4 mb-4">Boost your <strong>Social Media</strong> presence.</h1>
                <p class="lead mb-4">Elevate your brand with our top-tier social media marketing experts and innovative strategies. Maximize your reach and engagement with our proven techniques.</p>
                <a href="#" class="btn btn-light btn-lg" data-aos="fade-up" data-aos-delay="200">Get Started</a>
            </div>
            <div class="col-lg-6 text-center" data-aos="fade-left" data-aos-duration="1000">
                <img src="~/images/DET_ social media.png" alt="Digital Edge Social Hero Banner" class="img-fluid float-animation">
            </div>
        </div>
    </div>
</section>

<section id="features" class="py-5">
    <div class="container">
        <h2 class="text-start mb-5 font-weight-bold">Our Expertise</h2>
        <div class="row">
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="text-center">
                    <i class="fas fa-chart-line feature-icon text-black"></i>
                    <h3>Analytics</h3>
                    <p>Getting insights with our powerful professional team.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="text-center">
                    <i class="fas fa-bullhorn feature-icon text-black"></i>
                    <h3>Campaign Management</h3>
                    <p>Creating and managing effective social media campaigns.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="text-center">
                    <i class="fas fa-users feature-icon text-black"></i>
                    <h3>Audience Targeting</h3>
                    <p>Reach your ideal audience with precision targeting.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container">
        <h2 class="text-start mb-5 font-weight-bold" data-aos="fade-up">Our Multi-Platform Approach</h2>
        <div id="platformCarousel" class="carousel slide d-md-none pb-5" data-bs-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#platformCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#platformCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#platformCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#platformCarousel" data-bs-slide-to="3"></li>
                <li data-bs-target="#platformCarousel" data-bs-slide-to="4"></li>
                <li data-bs-target="#platformCarousel" data-bs-slide-to="5"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card platform-card h-100 bg-facebook">
                        <div class="card-body text-center">
                            <div>
                                <i class="fab fa-facebook platform-icon text-primary"></i>
                                <h5 class="card-title">Facebook Marketing</h5>
                                <p class="card-text text-dark">Connect with your audience through targeted ads, compelling content. Enhance your digital presence with our expert services, and together, we’ll elevate your brand.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card platform-card h-100 bg-instagram">
                        <div class="card-body text-center">
                            <div>
                                <i class="fab fa-instagram platform-icon text-danger"></i>
                                <h5 class="card-title">Instagram Marketing</h5>
                                <p class="card-text text-dark">Our Instagram marketing strategies can help your brand grow by providing eye-catching content, influencer collaborations, and engaging Instagram Stories, Reels.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card platform-card h-100 bg-x">
                        <div class="card-body text-center">
                            <div>
                                <i class="fa-brands fa-x-twitter platform-icon"></i>
                                <h5 class="card-title">Twitter <i class="fa-brands fa-x-twitter"></i> Marketing</h5>
                                <p class="card-text text-dark">Catalyze conversations and boost brand visibility by deploying trending topics, in which we can help you connect with your customers like never before.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card platform-card h-100 bg-linkedin">
                        <div class="card-body text-center">
                            <div>
                                <i class="fab fa-linkedin platform-icon text-primary"></i>
                                <h5 class="card-title">LinkedIn Marketing</h5>
                                <p class="card-text text-dark">Drive B2B leads and establish thought leadership through our expert LinkedIn Marketing Experts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card platform-card h-100 bg-email">
                        <div class="card-body text-center">
                            <div>
                                <i class="fas fa-envelope platform-icon text-success"></i>
                                <h5 class="card-title">Email Marketing</h5>
                                <p class="card-text text-dark">Boost conversions and nurture leads with our email marketing agency's tailored campaigns and automation tools.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card platform-card h-100 bg-google-my-business">
                        <div class="card-body text-center">
                            <div>
                                <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/google-my-business-icon.svg" class="platform-icon" alt="Google Business Agency" width="60px">
                                <h5 class="card-title">Google My Business</h5>
                                <p class="card-text">We'll help to Boost your local presence and attract customers with optimized listings and engaging updates.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev d-none" href="#platformCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next d-none" href="#platformCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 flex-wrap d-none d-md-flex">
            <div class="col" data-aos="fade-up" data-aos-delay="100">
                <div class="card platform-card h-100 bg-facebook">
                    <div class="card-body text-center">
                        <div>
                            <i class="fab fa-facebook platform-icon text-primary"></i>
                            <h5 class="card-title">Facebook Marketing</h5>
                            <p class="card-text text-dark">Connect with your audience through targeted ads, compelling content. Enhance your digital presence with our expert services, and together, we’ll elevate your brand.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="200">
                <div class="card platform-card h-100 bg-instagram">
                    <div class="card-body text-center">
                        <div>
                            <i class="fab fa-instagram platform-icon text-danger"></i>
                            <h5 class="card-title">Instagram Marketing</h5>
                            <p class="card-text text-dark">Our Instagram marketing strategies can help your brand grow by providing eye-catching content, influencer collaborations, and engaging Instagram Stories, Reels.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="300">
                <div class="card platform-card h-100 bg-x">
                    <div class="card-body text-center">
                        <div>
                            <i class="fa-brands fa-x-twitter platform-icon"></i>
                            <h5 class="card-title">Twitter <i class="fa-brands fa-x-twitter"></i> Marketing</h5>
                            <p class="card-text text-dark">Catalyze conversations and boost brand visibility by deploying trending topics ,  in which we can help you connect with your customers like never before.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="card platform-card h-100 bg-linkedin">
                    <div class="card-body text-center">
                        <div>
                            <i class="fab fa-linkedin platform-icon text-primary"></i>
                            <h5 class="card-title">LinkedIn Marketing</h5>
                            <p class="card-text text-dark">Drive B2B leads and establish thought leadership through our expert LinkedIn Marketing Experts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="500">
                <div class="card platform-card h-100 bg-email">
                    <div class="card-body text-center">
                        <div>
                            <i class="fas fa-envelope platform-icon text-success"></i>
                            <h5 class="card-title">Email Marketing</h5>
                            <p class="card-text text-dark">Boost conversions and nurture leads with our email marketing agency's tailored campaigns and automation tools.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="card platform-card h-100 bg-google-my-business">
                    <div class="card-body text-center">
                        <div>
                            <!-- <span class="material-symbols-outlined platform-icon">
                                storefront
                                </span> -->
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/google-my-business-icon.svg" class="platform-icon" width="60px">
                            <h5 class="card-title">Google My Business</h5>
                            <p class="card-text">We'll help to Boost your local presence and attract customers with optimized listings and engaging updates.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="ppc" class="ppc-bg py-5">
    <div class="container">
        <h2 class="text-center mb-5 font-weight-bold" data-aos="fade-up">Supercharge Your Reach with PPC</h2>
        <div id="ppcCarousel" class="carousel slide d-md-none pb-5" data-bs-ride="carousel">
            <div class="carousel-indicators mb-0">
                <button type="button" data-bs-target="#ppcCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#ppcCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#ppcCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#ppcCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row g-4">
                        <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                            <div class="card ppc-card">
                                <div class="card-body text-center">
                                    <i class="fas fa-bullseye ppc-icon"></i>
                                    <h5 class="card-title">Precision Targeting</h5>
                                    <p class="card-text">Reach your ideal audience with pinpoint accuracy using advanced targeting options across social platforms.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-4">
                        <div class="col-12" data-aos="fade-up" data-aos-delay="200">
                            <div class="card ppc-card">
                                <div class="card-body text-center">
                                    <i class="fas fa-chart-line ppc-icon"></i>
                                    <h5 class="card-title">Performance Tracking</h5>
                                    <p class="card-text">Monitor and optimize your campaigns in real-time with comprehensive analytics and reporting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-4">
                        <div class="col-12" data-aos="fade-up" data-aos-delay="300">
                            <div class="card ppc-card">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-indian-rupee-sign ppc-icon"></i>
                                    <h5 class="card-title">Budget Control</h5>
                                    <p class="card-text">Set and manage your advertising budget effectively, ensuring optimal ROI for your PPC campaigns.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-4">
                        <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                            <div class="card ppc-card">
                                <div class="card-body text-center">
                                    <i class="fas fa-rocket ppc-icon"></i>
                                    <h5 class="card-title">Rapid Results</h5>
                                    <p class="card-text">See immediate impact with PPC ads, driving traffic, leads, and conversions from day one.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev d-none" type="button" data-bs-target="#ppcCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none" type="button" data-bs-target="#ppcCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row g-4 d-none d-md-flex">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="card ppc-card">
                    <div class="card-body text-center">
                        <i class="fas fa-bullseye ppc-icon"></i>
                        <h5 class="card-title">Precision Targeting</h5>
                        <p class="card-text">Reach your ideal audience with pinpoint accuracy using advanced targeting options across social platforms.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="card ppc-card">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-line ppc-icon"></i>
                        <h5 class="card-title">Performance Tracking</h5>
                        <p class="card-text">Monitor and optimize your campaigns in real-time with comprehensive analytics and reporting.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="card ppc-card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-indian-rupee-sign ppc-icon"></i>
                        <h5 class="card-title">Budget Control</h5>
                        <p class="card-text">Set and manage your advertising budget effectively, ensuring optimal ROI for your PPC campaigns.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="card ppc-card">
                    <div class="card-body text-center">
                        <i class="fas fa-rocket ppc-icon"></i>
                        <h5 class="card-title">Rapid Results</h5>
                        <p class="card-text">See immediate impact with PPC ads, driving traffic, leads, and conversions from day one.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <h3 class="mb-4" data-aos="fade-up">Our PPC Expertise Spans Across Platforms</h3>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="d-flex justify-content-around flex-wrap">
                        <i class="fab fa-facebook fa-3x m-3" title="Facebook Ads" data-aos="zoom-in" data-aos-delay="100"></i>
                        <i class="fab fa-instagram fa-3x m-3" title="Instagram Ads" data-aos="zoom-in" data-aos-delay="200"></i>
                        <i class="fab fa-linkedin fa-3x m-3" title="LinkedIn Ads" data-aos="zoom-in" data-aos-delay="300"></i>
                        <i class="fa-brands fa-x-twitter fa-3x m-3" title="Twitter Ads" data-aos="zoom-in" data-aos-delay="400"></i>
                        <i class="fab fa-pinterest fa-3x m-3" title="Pinterest Ads" data-aos="zoom-in" data-aos-delay="500"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* <section id="projects" class="py-5 bg-light">
    <div class="px-md-2 overflow-hidden">
        <h2 class="text-center mb-5" data-aos="fade-up">Our Success Stories</h2>
        <div class="row g-4 project-slider">
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 1">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Mangal Build Home</h5>
                    <p class="card-text flex-grow-1">Increased social media engagement by 150% through strategic rebranding campaign.</p>
                </div>
            </div>
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 2">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Manre Yoga</h5>
                    <p class="card-text flex-grow-1">Achieved 5K+ followers on Instagram in 3 months for ManreYoga.</p>
                </div>
            </div>
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 3">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Synfo Shop</h5>
                    <p class="card-text flex-grow-1">Drove 500K+ petition signatures for environmental awareness campaign.</p>
                </div>
            </div>
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 4">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Immunoshop</h5>
                    <p class="card-text flex-grow-1">Increased online sales by 200% through targeted social media advertising.</p>
                </div>
            </div>
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 5">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Mangal Credit and Fincorp Ltd</h5>
                    <p class="card-text flex-grow-1">Improved customer engagement and lead generation by 75% using LinkedIn strategies.</p>
                </div>
            </div>
            <div class="card project-card h-100 shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <img src="social-media-banner-reviews.png" class="card-img-top" alt="Project 6">
                <div class="card-footer d-flex flex-column mb-0 pb-0">
                    <h5 class="card-title">Qcurrvy</h5>
                    <p class="card-text flex-grow-1">Launched successful influencer marketing campaign, resulting in 300% ROI.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="reviews" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5" data-aos="fade-up">What Our Clients Say</h2>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4" data-aos="fade-right" data-aos-delay="300">
                <div class="card review-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img src="https://img.icons8.com/?size=100&id=kpbkCrY93ltE&format=png&color=000000" alt="Client 1" class="review-avatar me-3">
                            <div class="">
                                <div>
                                    <h5 class="card-title mb-0">Mr Kabir Das</h5>
                                    <p class="review-company mb-0">Poetry Center</p>
                                </div>
                                <div class="review-stars mb-2">
                                    <span>★★★★★</span>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">"DigitalEdge transformed our online presence. Our engagement rates have skyrocketed, and we've seen a significant increase in qualified leads. Their team is professional, creative, and always delivers results."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card review-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img src="https://img.icons8.com/?size=100&id=kpbkCrY93ltE&format=png&color=000000" alt="Client 1" class="review-avatar me-3">
                            <div class="">
                                <div>
                                    <h5 class="card-title mb-0">Mr Kabir Das</h5>
                                    <p class="review-company mb-0">Poetry Center</p>
                                </div>
                                <div class="review-stars mb-2">
                                    <span>★★★★★</span>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">"DigitalEdge transformed our online presence. Our engagement rates have skyrocketed, and we've seen a significant increase in qualified leads. Their team is professional, creative, and always delivers results."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-left" data-aos-delay="300">
                <div class="card review-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img src="https://img.icons8.com/?size=100&id=kpbkCrY93ltE&format=png&color=000000" alt="Client 1" class="review-avatar me-3">
                            <div class="">
                                <div>
                                    <h5 class="card-title mb-0">Mr Kabir Das</h5>
                                    <p class="review-company mb-0">Poetry Center</p>
                                </div>
                                <div class="review-stars mb-2">
                                    <span>★★★★★</span>
                                </div>
                            </div>
                        </div>

                        <p class="card-text">"DigitalEdge transformed our online presence. Our engagement rates have skyrocketed, and we've seen a significant increase in qualified leads. Their team is professional, creative, and always delivers results."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5" data-aos="fade-up">Our Trusted Partners</h2>
        <div class="partners-container" data-aos="fade-up" data-aos-delay="100">
            <div class="partners-row row-1">
                <img src="https://dr-com.in/images/logos/logo-bsnl.svg" alt="Partner 1">
                <img src="https://dr-com.in/images/logos/logo-bsnl.svg" alt="Partner 2">
                <img src="https://static.wixstatic.com/media/99f9ad_0292639742de4d3bacf5abfb0f8b6f98~mv2.png/v1/fill/w_95,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/99f9ad_0292639742de4d3bacf5abfb0f8b6f98~mv2.png" alt="Partner 3">
                <img src="https://www.synfo.shop/assets/images/logo/logo.png" alt="Partner 4">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Killer-jeans.png" alt="Partner 5">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/kkcl.png" alt="Partner 1">
                <img src="https://mangalfincorp.com/img/logo/logo.png" alt="Partner 2">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Reliance.png" alt="Partner 3">
                <img src="https://mangalbuildhome.com/wp-content/uploads/2020/08/logo.png" alt="Partner 4">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Yes-bank.png" alt="Partner 5">
            </div>
        </div>
        <div class="partners-container" data-aos="fade-up" data-aos-delay="200">
            <div class="partners-row row-2">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Sahara-star.png" alt="Partner 6">
                <img src="https://mangalbuildhome.com/wp-content/uploads/2020/08/logo.png" alt="Partner 7">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/satco.png" alt="Partner 8">
                <img src="https://static.wixstatic.com/media/99f9ad_0292639742de4d3bacf5abfb0f8b6f98~mv2.png/v1/fill/w_95,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/99f9ad_0292639742de4d3bacf5abfb0f8b6f98~mv2.png" alt="Partner 9">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Integriti.png" alt="Partner 10">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/happy-socks.png" alt="Partner 6">
                <img src="https://mangalfincorp.com/img/logo/logo.png" alt="Partner 7">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/DishTV.png" alt="Partner 8">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Brooklyn-creamery.png" alt="Partner 9">
                <img src="https://www.digitaledgetech.in/images/Final%20Logos%2090%20x%2090/Baskin-and-robbins.png" alt="Partner 10">
            </div>
        </div>
    </div>
</section> *@

<section id="contact" class="cta bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-start" data-aos="fade-up">
                <h2 class="mb-4 font-weight-bold">Ready to Get Socialized?</h2>
                <p class="lead mb-4">Join hundreds of businesses that have boosted their social media presence with our <a asp-action="contact" class="social-contact text-dark">Social Media Marketing  <i class="fa-solid fa-up-right-from-square"></i></a> team.</p>
                @*                 <a href="#" class="btn btn-primary btn-contact" data-aos="fade-up" data-aos-delay="200">Contact Digital Edge <i class="fa-solid fa-right-to-bracket"></i></a>*@
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: false,
            offset: 100
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const carousel = document.querySelector('.project-slider');
            const items = document.querySelectorAll('.project-card');
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');

            let currentIndex = 0;
            const itemWidth = items[0].offsetWidth + parseInt(getComputedStyle(items[0]).marginLeft) * 2;
            const visibleItems = Math.floor(carousel.offsetWidth / itemWidth);

            // Clone items for infinite loop
            const cloneItems = Array.from(items).map(item => item.cloneNode(true));
            cloneItems.forEach(item => carousel.appendChild(item));

            // Adjust carousel width
            carousel.style.width = `${itemWidth * items.length * 2}px`;

            function moveCarousel(direction) {
                if (direction === 'next') {
                    currentIndex = (currentIndex + 1) % items.length;
                } else {
                    currentIndex = (currentIndex - 1 + items.length) % items.length;
                }
                carousel.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
            }

            // Automatic sliding
            let autoSlide = setInterval(() => moveCarousel('next'), 3000);

            // Manual controls
            prevBtn.addEventListener('click', () => {
                clearInterval(autoSlide);
                moveCarousel('prev');
                autoSlide = setInterval(() => moveCarousel('next'), 3000);
            });

            nextBtn.addEventListener('click', () => {
                clearInterval(autoSlide);
                moveCarousel('next');
                autoSlide = setInterval(() => moveCarousel('next'), 3000);
            });
        });

    </script>

}