@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header">
    <!-- end navbar -->
    <div class="page-title">
        <div class="container">
            <h2 class="text-center">Web Development</h2>
        </div>
        <!-- end container -->
    </div>
    <!-- end headlines -->
</header>
<section class="case-detail">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="descContent">
                    <div class="doughnut"></div>
                    <h4>We believe in 3c's that are:</h4>
                    <h2 class="typewrite" data-period="2000" data-type='[ "Creativity", "Caliber", "Customized"]'>
                    </h2>
                    <p>
                        In this new era, where the website is the face of your company, it is extremely important to
                        stand apart from the competitive brands in the industry. Research suggests that 75% of
                        consumers make judgments about a company, based on its website. And we often understand the
                        value of the business and its online presence. <br>
                        Let professional developers amplify your digital presence with tailored services and ongoing
                        support.
                    </p>

                    <div class="descImage">
                        <figure>
                            <img src="~/images/Web Development-01.jpg" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                    <div class="descImage2">
                        <figure>
                            <img src="~/images/light-bulb.jpg" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- end col-8 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<section class="more-info-section">
    <div class="container">
        <div class="more-inner-content">
            <div class="more-content moreLeft">
                <p>
                    Digital Edge Technologies, with <span> more than 90 clients</span>, is a prominent website designing and
                    development company based in Mumbai and UK. We provide tailored web development services. Our
                    superheroes are updated with the latest features and advanced methodologies.
                </p>
                <div class="check-circle">
                    <div class="inner-check">
                        <div class="inner-check-icon">
                            <span class="iconify" data-icon="akar-icons:double-check"></span>
                        </div>
                        <div class="inner-check-points">
                            <p>We deliver solutions within the expected budget and timeframe</p>
                        </div>
                    </div>
                    <div class="inner-check">
                        <div class="inner-check-icon">
                            <span class="iconify" data-icon="akar-icons:double-check"></span>
                        </div>
                        <div class="inner-check-points">
                            <p>The kickoff meeting, within 2 business days, sets the course for projects</p>
                        </div>
                    </div>
                    <div class="inner-check">
                        <div class="inner-check-icon">
                            <span class="iconify" data-icon="akar-icons:double-check"></span>
                        </div>
                        <div class="inner-check-points">
                            <p>A dedicated web development team working closely and only with you</p>
                        </div>
                    </div>
                    <div class="inner-check">
                        <div class="inner-check-icon">
                            <span class="iconify" data-icon="akar-icons:double-check"></span>
                        </div>
                        <div class="inner-check-points">
                            <p>We employ iterative and incremental development methodologies</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="iconify" data-icon="ant-design:check-circle-filled"></span>
                <p>We deliver solutions within the expected budget and timeframe
                    The kickoff meeting, within 2 business days, sets the course for projects
                    A dedicated web development team working closely and only with you
                    We employ iterative and incremental development methodologies
                </p> -->
            </div>
            <div class="more-content moreRight">
                <h3>We only perceive 3 things: </h3>
                <div class="moreRight-things">
                    <div class="moreRight-img">
                        <img src="~/images/workwebsite.png" alt="workwebsite">
                    </div>
                    <div class="moreRightpara">
                        <h6>YOUR WEBSITE SHOULD WORK </h6>
                    </div>
                </div>
                <div class="moreRight-things">
                    <div class="moreRight-img">
                        <img src="~/images/performfast.png" alt="performfast" class="img-fluid">
                    </div>
                    <div class="moreRightpara">
                        <h6>YOUR WEBSITE SHOULD PERFORM FAST</h6>
                    </div>
                </div>
                <div class="moreRight-things">
                    <div class="moreRight-img">
                        <img src="~/images/adaptive.png" alt="adaptive" class="img-fluid">
                    </div>
                    <div class="moreRightpara">
                        <h6>YOUR WEBSITE SHOULD BE ADAPTIVE</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hero-para">
    <div class="container">
        <h2>THIS IS HOW OUR SUPERHEROES CONCLUDE THE PROJECT </h2>
    </div>
</div>

<section class="service_blocks">
    <div class="container">
        <div class="service">
            <figure>
                <img src="~/images/webDesign.png" alt="img" class="img-fluid">
            </figure>
            <h4>Website Design</h4>
            <!-- <p>
                    Because what's web development without a good design? Our Graphic designer and
            Web Developer make sure to create a unique design to make your website look the best.
                  </p> -->
            <a href="javascript:void(0)" class="sevice1">Read More</a>
        </div>

        <div class="service">
            <figure>
                <img src="~/images/webDevelopment.png" alt="img" class="img-fluid">
            </figure>
            <h4>Website Development and Deployment</h4>
            <!-- <p>
                    The developer codes and deploys what the website would look like, exactly. We do it by
            developing and deploying websites by installing the application into server context and
            linking it with the domain.. ON-TIME!
                  </p> -->
            <a href="javascript:void(0)" class="service2">Read More</a>
        </div>

        <div class="service">
            <figure>
                <img src="~/images/cms.png" alt="img" class="img-fluid">
            </figure>
            <h4>Content Management System (CMS)</h4>
            <!-- <p>
                    Need a convenient platform that enables any authorized user to publish images and
            content easily?
            Yes, you can create and modify your digital content using a common UI.
                  </p> -->
            <a href="javascript:void(0)" class="service3">Read More</a>
        </div>

        <div class="service">
            <figure>
                <img src="~/images/hosting.png" alt="img" class="img-fluid">
            </figure>
            <h4>Hosting Solutions</h4>
            <!-- <p>
                    Rightly said, a website's success depends on the reliability of its hosting service.
            We provide solutions tailored to optimize your business potential.
                  </p> -->
            <a href="javascript:void(0)" class="service4">Read More</a>
        </div>

        <div class="service">
            <figure>
                <img src="~/images/domain.png" alt="img" class="img-fluid">
            </figure>
            <h4>Domain Solutions</h4>
            <!-- <p style="margin-bottom: 0;">When it comes to Domain Soutions, we mean..</p>
            <p>The process by which the solution is arrived at<br>
              The enviornment in which the website is constructed<br>
              The design, construction, testing, operation and functions of the solution product itself
            </p> -->
            <a href="javascript:void(0)" class="service5">Read More</a>
        </div>
    </div>

    <div class="overlay"></div>
    <div class="service_details service_details1">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <h4>Website Design</h4>
        <p>
            Because what's web development without a good design? Our Graphic designer and Web Developer make sure
            to create a unique design to make your website look the best.
        </p>
    </div>

    <div class="service_details service_details2">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <h4>Website Development and Deployment</h4>
        <p>
            The developer codes and deploys what the website would look like, exactly. We do it by developing and
            deploying websites by installing the application into server context and linking it with the domain..
            ON-TIME!
        </p>
    </div>

    <div class="service_details service_details3">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <h4>Content Management System (CMS)</h4>
        <p>
            Need a convenient platform that enables any authorized user to publish images and content easily? Yes,
            you can create and modify your digital content using a common UI.
        </p>
    </div>

    <div class="service_details service_details4">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <h4>Hosting Solutions</h4>
        <p>
            Rightly said, a website's success depends on the reliability of its hosting service. We provide
            solutions tailored to optimize your business potential.
        </p>
    </div>

    <div class="service_details service_details5">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <h4>Domain Solutions</h4>
        <p style="margin-bottom: 0;">When it comes to Domain Soutions, we mean..</p>
        <p>
            The process by which the solution is arrived at<br> The enviornment in which the website is
            constructed<br> The design, construction, testing, operation and functions of the solution product
            itself
        </p>
    </div>
</section>