@page
@model core.Pages.serviceModel
@{
    ViewData["Title"] = "Service";
}

<header class="header">
    <div class="headlines">
        <h1>
            Delivering:<br>
            <span class="typewrite" data-period="2000"
                  data-type='[ "End to end Solutions","Successful Campaign", "ROI focused results"]'></span>
            <span class="wrap"></span>
        </h1>
    </div>
</header>
<section class="page-header">
    <div class="post-sticky wow fadeIn">
        <figure class="post-image"><img src="~/images/Service Banner.jpg" alt="Image" loading="lazy"></figure>
    </div>
</section>
<div class="px-0 px-md-3 d-md-block">
    <div class="col-12 pt-0">
        <div class="container">
            @* <div class="titles">
            <h6>OUR SERVICES</h6>
            <p class="text-yellow">We are Master of.</p>
            </div> *@
            <div class="row mt-3 mt-md-0">
                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a asp-action="Software" class="text-black">
                        <img src="~/images/Software Development.jpg" alt="Custom Software Development Solutions for Businesses" class="service-image">
                        <h3 class="service-title fw-bold">Software Development</h3>
                    </a>
                    <p class="service-intro">We offer tailored <a asp-action="Software" class="text-black">software solutions</a> to meet your unique business needs, ensuring efficiency and business logic. We specialize in agile methodologies, ensuring rapid deployment and scalability.</p>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a asp-action="ERP" class="text-black">
                        <img src="~/images/ERP-01.jpg" alt="Enterprise Resource Planning Software Solutions" class="service-image">
                        <h3 class="service-title fw-bold">Enterprise Resource Planning</h3>
                    </a>
                    <p class="service-intro">Utilize your staff's skills, hardware, and software to increase productivity and simplify daily processes with our ERP solutions.</p>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a href="Web" class="text-black">
                        <img src="~/images/Web Development-01.jpg" alt="Professional Web Development Services for Businesses" class="service-image">
                        <h3 class="service-title fw-bold">Web Development</h3>
                    </a>
                    <p class="service-intro">We create responsive and engaging websites that enhance user experience and drive conversions.</p>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a asp-action="Mobile" class="text-black">
                        <img src="~/images/Mobile App Development.jpg" alt="Innovative Mobile App Development for iOS and Android" class="service-image">
                        <h3 class="service-title fw-bold">Mobile App Development</h3>
                    </a>
                    <p class="service-intro">We create innovative mobile applications (Android App Development / iOS App Development) that provide seamless user experiences and drive engagement.</p>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a asp-action="Creative" class="text-black">
                        <img src="~/images/Intractive & Creative Design-01-01.jpg" alt="Interactive and Creative Design Services" class="service-image">
                        <h3 class="service-title fw-bold">Interactive and Creative Designs</h3>
                    </a>
                    <p class="service-intro">Enhance your business with interactive and creative designs that adapt to and reflect your brand.</p>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 service-item">
                    <a asp-action="Social" class="text-black">
                        <img src="~/images/2352644-01.jpg" alt="Social Media Management Services for Businesses" class="service-image">
                        <h3 class="service-title fw-bold">Social Media Management</h3>
                    </a>
                    <p class="service-intro">Engage your brand with effective social media strategies provided by Digital Edge.</p>
                </div>
            </div>

        </div>
    </div>
</div>

